.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.contact-image {
  width: 250px;
  height: auto;
  object-fit: cover;
}
.contact-nav {
  display: flex;
}
.contact-icon-group {
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
}
.contact-icon {
  width: 22px;
  height: 22px;
  margin-right: 0px;
}
.contact-burger-menu {
  display: none;
}
.contact-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contact-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-image1 {
  height: 2rem;
}
.contact-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-banner {
  width: 100%;
  height: 30vh;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  margin-top: 147px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-pink);
}
.contact-text {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.contact-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: 60px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 60px;
}
.contact-text1 {
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.contact-form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 20%;
  padding-right: 20%;
  flex-direction: column;
  justify-content: center;
}
.contact-textinput {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.contact-textinput1 {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.contact-textarea {
  width: 100%;
  padding-left: 1rem;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 1rem;
}
.contact-button {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  background-color: var(--dl-color-primary-pink);
}
.contact-banner1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0.00%,rgb(0, 0, 0) 100.00%),url("https://images.unsplash.com/photo-1561758925-ce2d5a49b270?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fG1vbnN0ZXJyYXxlbnwwfHx8fDE2Nzk4NTc1NzY&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
.contact-text4 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text5 {
  color: var(--dl-color-gray-white);
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.contact-form1 {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}
.contact-textinput2 {
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
}
.contact-button1 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-width: 0px;
  background-color: var(--dl-color-primary-pink);
}
.contact-button1:hover {
  color: #000000;
  background-color: transparent;
}
.contact-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-primary-pink);
}
.contact-text6 {
  color: var(--dl-color-gray-white);
}
@media(max-width: 991px) {
  .contact-icon2 {
    display: flex;
  }
  .contact-text5 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .contact-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-nav {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-icon2 {
    width: 22px;
    height: 22px;
  }
  .contact-mobile-menu {
    display: none;
  }
  .contact-nav1 {
    align-items: center;
  }
  .contact-container1 {
    justify-content: space-between;
  }
  .contact-image1 {
    width: 250px;
    height: auto;
  }
  .contact-icon4 {
    width: 22px;
    height: 22px;
  }
  .contact-icon-group1 {
    align-self: center;
  }
  .contact-icon6 {
    width: 22px;
    height: 22px;
    margin-right: 0px;
  }
  .contact-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-text5 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contact-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-text6 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .contact-header {
    padding: var(--dl-space-space-unit);
  }
  .contact-icon-group {
    display: none;
  }
  .contact-mobile-menu {
    padding: 16px;
  }
  .contact-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-banner1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .contact-container2 {
    align-items: center;
    flex-direction: column;
  }
  .contact-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .contact-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .contact-text6 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
