.works-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.works-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.works-image {
  width: 250px;
  height: auto;
  object-fit: cover;
}
.works-nav {
  display: flex;
}
.works-icon-group {
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
}
.works-icon {
  width: 22px;
  height: 22px;
  margin-right: 0px;
}
.works-burger-menu {
  display: none;
}
.works-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.works-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.works-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.works-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.works-image1 {
  height: 2rem;
}
.works-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.works-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.works-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.works-banner {
  width: 100%;
  height: 30vh;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  margin-top: 147px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-pink);
}
.works-text {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.works-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 48px;
  flex-direction: column;
}
.works-text01 {
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
}
.works-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: ０;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.works-features1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.works-text04 {
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
}
.works-container3 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr;
}
.works-banner1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0.00%,rgb(0, 0, 0) 100.00%),url("https://images.unsplash.com/photo-1561758925-ce2d5a49b270?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fG1vbnN0ZXJyYXxlbnwwfHx8fDE2Nzk4NTc1NzY&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
.works-text07 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.works-text08 {
  color: var(--dl-color-gray-white);
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.works-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.works-form {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}
.works-textinput {
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
}
.works-button {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-width: 0px;
  background-color: var(--dl-color-primary-pink);
}
.works-button:hover {
  color: #000000;
  background-color: transparent;
}
.works-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-primary-pink);
}
.works-text09 {
  color: var(--dl-color-gray-white);
}
@media(max-width: 991px) {
  .works-icon2 {
    display: flex;
  }
  .works-container2 {
    grid-template-columns: 1fr 1fr;
  }
  .works-text08 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .works-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .works-nav {
    display: none;
  }
  .works-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .works-icon2 {
    width: 22px;
    height: 22px;
  }
  .works-mobile-menu {
    display: none;
  }
  .works-nav1 {
    align-items: center;
  }
  .works-container1 {
    justify-content: space-between;
  }
  .works-image1 {
    width: 250px;
    height: auto;
  }
  .works-icon4 {
    width: 22px;
    height: 22px;
  }
  .works-icon-group1 {
    align-self: center;
  }
  .works-icon6 {
    width: 22px;
    height: 22px;
    margin-right: 0px;
  }
  .works-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .works-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .works-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .works-container3 {
    grid-template-columns: 1fr;
  }
  .works-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .works-text08 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .works-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .works-text09 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .works-header {
    padding: var(--dl-space-space-unit);
  }
  .works-icon-group {
    display: none;
  }
  .works-mobile-menu {
    padding: 16px;
  }
  .works-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .works-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .works-container2 {
    grid-template-columns: 1fr;
  }
  .works-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .works-banner1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .works-container4 {
    align-items: center;
    flex-direction: column;
  }
  .works-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .works-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .works-text09 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
